// sidebar
$menuText:#343a43;
$menuActiveText:#409EFF;
$subMenuActiveText:#409EFF; //https://github.com/ElemeFE/element/issues/12951
$subMenuActiveBg: rgba(0, 144, 250, 0.1);

$menuBg:#f8faf9;
$menuHover:rgba(0, 144, 250, 0.1);

$subMenuBg:#f8faf9;
$subMenuHover:rgba(0, 144, 250, 0.1);

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  subMenuActiveBg: $subMenuActiveBg
}

// https://element.eleme.cn/#/zh-CN/theme/preview
/* 改变主题色变量 */
$--color-primary: #0090fa;

/* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";
